<%= form_for @main_image, :html => {:multipart => true} do |f| %>
  <% if @main_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@main_image.errors.count, "error") %> prohibited this main_image from being saved:</h2>

      <ul>
      <% @main_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :main_image %><br />
    <%= f.file_field :main_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
